@use 'src/assets/styles/utility-classes' as util

.container
  flex-grow: 1

.flex-col
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.move-container
  display: flex
  flex-grow: 1
  justify-content: center
  flex-wrap: wrap
  gap: 1px
  margin: 2rem 0

.move-node
  text-align: center
  font-weight: 600
  width: 15em
  padding: 0.5rem 1rem

  $move-item-border-radius: 5px
  &:nth-child(1)
    border-top-left-radius: $move-item-border-radius
  &:nth-child(2)
    border-top-right-radius: $move-item-border-radius
  &:nth-child(3)
    border-bottom-left-radius: $move-item-border-radius
  &:nth-child(4)
    border-bottom-right-radius: $move-item-border-radius

.calc
  @extend .secondary-panel
  width: 32em
  background-color: util.$deep-purple
  color: util.$platinum
  height: 2rem

