@import 'src/assets/styles/utility-classes'

.container
  width: 100%

.flex-col
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.move-container
  width: 100%
  display: flex
  flex-wrap: wrap
  gap: 0.3em

.move-node
  text-align: center
  font-weight: 600
  width: 15em
  padding: 0.5rem 1rem

