.container
  display: flex

.btn
  background-color: #53087A
  &:hover
    border-bottom: #81BDE0 1px solid

.active-node
  background-color: #81BDE0

.pokemon-node-img
  max-height: 2rem
  max-width: 2rem
