@use "src/assets/styles/constants" as c
\:host
  color: c.$platinum
  margin: 0
  padding: 0

$image-box-size: 3rem

.container
  background-color: c.$bg-color
  padding: 2em

.search-result-list
  display: grid
  grid-template-columns: repeat(20, auto [col-start])
  overflow: hidden
  padding: 2rem

.pokemon-node
  display: flex
  flex-direction: column
  align-items: center

  font-size: 0.6rem
  background-color: c.$primary-color
  border-radius: 2px
  margin: 1px 1px

  cursor: pointer
  transition: all 0.2s ease-in-out

  &:hover
    color: c.$platinum
    box-shadow: 0 5px 15px c.$accent

.pokemon-node-img
  height: $image-box-size
  width: $image-box-size

.quick-info-display
  display: grid
  grid-template-columns: repeat(5, 1fr [col-start])
  align-items: center

  background-color: c.$primary-color
  padding: 1rem
  border-radius: 5px

.quick-info-image
  justify-self: flex-start
  background-color: c.$bg-color
  border-radius: 100%
  height: 6rem
  overflow: hidden

.actions
  display: flex
  flex-direction: row
  justify-content: flex-end

.btn
  background-color: c.$primary-color
  color: white
