@use 'src/assets/styles/constants.sass' as c
/* You can add global styles to this file, and also import other style files */
body, html
    font-family: 'Ubuntu', sans-serif

.custom-dialog-container .mat-dialog-container
  margin: 0
  padding: 0
  border-radius: 15px

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css'

body
  font-family: Roboto, Arial, sans-serif
  margin: 0

.basic-container
  padding: 20px

.version-info
  font-size: 6pt
  float: right

//.mat-slider.mat-slider-horizontal .mat-slider-wrapper
//  top: 12px

.mat-slider.mat-slider-horizontal .mat-slider-track-wrapper
  height: 6px
  border-radius: 10px

.mat-slider.mat-slider-horizontal .mat-slider-track-background,
.mat-slider.mat-slider-horizontal .mat-slider-track-fill
  height: 100%

.mat-slider.mat-slider-horizontal .mat-slider-track-fill
  background-color: c.$accent

.mat-accent .mat-slider-thumb
  height: 20px
  width: 20px
  background-color: c.$accent !important
  border: solid 1px c.$deep-purple
  bottom: -12px

.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb
  background-color: c.$deep-purple

.mat-slider-horizontal
  height: 30px !important
  bottom: 11px !important

.mat-select-value, .mat-select-arrow
  color: c.$platinum
.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple)
  color: c.$deep-purple
  background-color: c.$accent
